
.baseDiv{
    width: 100%;
    height: 300px;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:aliceblue;
    position:relative;
}
.banner{
    width: 100%;
    height: 300px;
    position:absolute;
    background-image: url("/dataDetail/detail-baner1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bannerBox{
    width: 32%;
    height: 60px;
    margin :120px 34%;
    position:absolute;
}

.bannerBox p{
    color: whitesmoke;
    font-size: 12px;
}
.titleT3{
    color: white;
    font-size:40px;
    height: 80px;
    line-height: 80px;
    margin-left: 40%;
}
.searchDataMsg{
    margin: 20% 40%;
    display:none;
    color: #D6B618;
}
.row {
    line-height: 25px;
    padding: 5px;
}

.form {
    color: #000;
    overflow-x: auto;
    width: 76%;
    margin: 40px 12% 0 12%;
}

.select {
    margin: 0 12px;
    min-width: 130px;
}

.select option { 
    overflow-x: auto;
}

.switch {
    margin: 0 12px;
}

.button {
    background: #1677ff;
    color: white;
    padding: 5px;
}

.label {
    color: black;
    width: 100px;
    text-align: left;
    height: 2rem;
    line-height: 2rem;
}

.list1{
    color: black;
    margin-left: 6px;
    text-align: left;
    width: 90%;
    height: 2rem;
}

.list2{
    color: black;
    margin-left: 6px;
    text-align: left;
    width: 90%;
    height: 4rem;
}

.radioButton{
    border-radius: 6px;
    border:none;
    font-size: 12px;
    background-color: ghostwhite;
    position: relative;
    gap: 4px;
}

.pss{
    width: 410px;
    height:280px;
}
.top{
    width: 200px;
    height:54px;
    float:left;
}
.topImg{
    background-position: center;
    background-size: 80% 80%;
}
.left{
    width: 130px;
    height:185px;
    margin-top: 36px;
    float:left;
    clear: left;
}
.leftImg{
    width: 120px;
    height:175px;
    background-position: left;
}

.right{
    margin-top: 25px;
    width: 260px;
    height:220px;
    float:left;
    text-align: left;
}
.right h3{
    line-height: 20px;
    font-size: 18px;
    text-align: left;
    width: 80%;
    margin: 10px 0 10px 0px;
}
.right button{
    line-height: 20px;
    height: 30px;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    background-color: white;
}
.right textarea{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: normal;
    height:56px;
    width: 80%;
    border: none;
    resize: none;
    text-align: left;
    font-size: 14px;
    font-family: "微软雅黑";
    background-color: whitesmoke;
}


/*itemdetail-css*/

.itemDetailBase{
    width: 76%;
}
.itemDetail{
    width: 60%;
    height: 340px;
    position:relative;
    margin-left: 20%;
    position: relative;
}
.leftBase{
    width: 270px;
    max-width: 40%;
    height: 340px;
    margin:0 4% 0 6%;
    float:left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("/dataDetail/product.png");
    position:relative;
}
.itemName{
    width: 80%;
    height: 60px;
    margin-top:180px;
    font-size: 14px;
    margin-left: 10%;
    text-align: center;
    word-wrap:break-word;
    word-break:break-all;
    position:absolute;
}

.contract{
    width: 80%;
    height: 60px;
    margin-top:240px;
    margin-left: 10%;
    font-size: 14px;
    text-align: center;
    word-wrap:break-word;
    word-break:break-all;
    position:absolute;
}


.rightInfo{
    width: 56%;
    height:340px;
    margin-top: -340px;
    margin-left: 42%;
    float:left;
    clear:both;
}
.rightInfo h3{
    font-size: 16px;
    font-weight: bolder;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.rightInfo p a{
    width: 100px;
    font-size: 12px;
    line-height: 32px;
    margin-right: 20px;
    color: #036ED6;
}

.rightInfo p {
    width: 98%;
    font-size: 14px;
    line-height: 20px;
    margin-left: 20px;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
/*    -webkit-line-clamp: 3;*/
    word-break: break-all;
}
.dbSSrc{
    width: 240px;
    height: 70px;
    margin-left: 20px;
}
.type1Style{
    border-radius: 4px;
    border:none;
    height: 30px;
    font-size: 12px;
    margin-left: 2%;
    padding: 6px 6px;
    background-color: snow;
}
.rightInfRow{
    font-size: 24px;
    line-height: 56px;
}

.h1Style {
    color:black;
    margin-left:45%;
    margin-bottom: 40px;
    font-size:30px;
}

.productInfo{
    width: 60%;
    margin-top: 40px;
    margin-left: 16%;
    text-indent: 2rem;
}

.productInfo div {
    width: 104%;
    height: 30px;
    background-color: #CDE2F7;
    border-radius:6px;
}

.productInfo div h2{
    font-size: 16px;
    line-height: 20px;
}

.productInfo p{
    font-size: 14px;
    line-height: 30px;
}

.productInfo p span{
    font-weight:bolder;
}

.product{
    margin-top: 20px;
    width: 100%;
}

.dataDemo{
    margin-top: 40px;
    width: 60%;
    margin-left: 16%;
    text-indent: 2rem;
}

.dataDemo div {
    width: 104%;
    height: 30px;
    background-color: #CDE2F7;
    border-radius:6px;
}

.dataDemo dataDemo h2{
    font-size: 16px;
    line-height: 30px;
}

.dataDemo p{
    font-size: 14px;
    line-height: 30px;
}

.descItem{
    margin-top: 20px;
    width: 60%;
    height: 160px;
    margin-left: 16%;
    font-size: 14px;
    text-indent: 2rem;
}

.descItem div {
    width: 104%;
    height: 30px;
    background-color: #CDE2F7;
    border-radius:6px;
}

.descItem div h2{
    font-size: 16px;
    line-height: 30px;
}

.descItem p{
    font-size: 14px;
    line-height: 30px;
}

.descItem p span{
    font-weight:bolder;
}

