.button1{
    width:180px;
    height:40px;
    line-height : 40px;
    text-align: center;
    color: whitesmoke;
    background-color: #1199cc;
}

.button2{
    width:120px;
    height:40px;
    line-height : 40px;
    text-align: center;
    color: whitesmoke;
    background-color: #3377aa;
}
.list{
    margin-bottom: 10px;
}