
.row {
    line-height: 25px;
    padding: 5px; 
}

.form {
    /* background: var(--tabs-bg); */
    color: #000; 
    overflow-x: auto;
}

.select {
    margin: 0 12px;
    min-width: 130px;/*20230505 modify */
    /* background: var(--tabs-bg); */
}

.select option { 
    overflow-x: auto;
    /* font: var(--text-color);; */
}

.switch {
    margin: 0 12px;
}

.button {
    background: #1677ff;
    color: white;
    padding: 5px;
}

.label {
    color: black;
    width: 120px;
    text-align: right;
}

.list{
    color: black;
    margin-left: 20px;
    text-align: left;
}

.pss{
    width:390px;height:280px;
}
.top{
    width:230px;
    height:42px;
    float:left;
}

.left{
    width:150px;
    height:180px;
    float:left;
    clear: left;
}
.right{
    width:230px;
    height:180px;
    float:left;
    text-align: left;
}
.height6{
    height:6px;
}
.height24{
    height:24px;
}
.height36{
    height:36px;
}

.dataSource{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: normal;
    width:230px;
    height:48px;
    border: none;
    resize: none;
    text-align: left;
    font-size: 12px;
    font-family: "微软雅黑";
}

