

@media screen and (max-device-width:1800px) {
  .indexBackground {
    height: 480px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: aliceblue;
    background-image: url('/index/u37.png');
    background-size: 88% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #036ED6;
  }
  .baseCard {
    width: 84%;
    margin: 6px 8% 6px 8%;
  }
  .content2{
    width: 84%;
    height: 540px;
    margin: 40px 8% 40px 8%;
  }
  .baseBox1{
    width: 10%;
    height: 100px;
    margin-left: 14%;
    text-align: center;
    position: absolute;
  }

  .baseBox2{
    width: 10%;
    height: 100px;
    margin-left: 34%;
    font-size: 40px;
    text-align: center;
    position: absolute;
  }

  .baseBox3{
    width: 10%;
    height: 100px;
    margin-left: 54%;
    font-size: 40px;
    text-align: center;
    position: absolute;
  }
}


@media screen and (min-device-width: 1800px ) {
  .indexBackground {
    height: 520px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: aliceblue;
    background-image: url('/index/u37.png');
    background-size: 64% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #036ED6;
  }
  .baseCard {
    width: 64%;
    margin: 6px 18% 6px 18%;
  }
  .content2{
    width: 64%;
    height: 540px;
    margin: 40px 18% 40px 18%;
  }
  .baseBox1{
    width: 10%;
    height: 100px;
    margin-left: 6%;
    text-align: center;
    position: absolute;
  }

  .baseBox2{
    width: 10%;
    height: 100px;
    margin-left: 26%;
    font-size: 40px;
    text-align: center;
    position: absolute;
  }

  .baseBox3{
    width: 10%;
    height: 100px;
    margin-left: 46%;
    font-size: 40px;
    text-align: center;
    position: absolute;
  }
}

.baseDiv{
  height: 160px;
  margin:-20px 20% 0 16%;
  width: 68%;
  background-color: #efefef;
  border-radius:12px;
}

.totalTitle{
  font-size: 24px;
  color:#036ED6;
  margin-left: 49%;
}

.divStyle {
  width:1200px;
  marginTop:-48px;
  marginLeft: 170px;
}

.div2Style {
  margin-top: 17px;
}

.publicRowStyle {
  margin-top: 12px;
  width: 25%;
}

.montCardP1Style {
  font-size:10px;
  color:#939393;
}

.montCardP2Style {
  font-size:26px;
  font-weight:600;
  color:#222222;
}

.hotListImg{
  width: 100%;
  height: 400px;
  background-image: url('/index/hotList.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.HzCsListImg{
  width: 100%;
  height: 390px;
}

.baseCard h1{
  color:#036ED6;
  font-size: 40px;
  text-align: center;
  margin: 40px 0 20px 0;
}
.baseCard h2{
  color:#222222;
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}
.baseCard h3{
  color:#222222;
  font-size: 18px;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.content2 h1{
  color:#036ED6;
  font-size: 40px;
  text-align: center;
  margin: 40px 0 40px
}
.content2 h2{
  color:#222222;
  font-size: 14px;
  text-align: center;
  margin: 40px 0 20px 0 ;
}
.content2 h3{
  color:#222222;
  font-size: 18px;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 40px;
}


.baseBox1 h3 {
  font-size: 24px;
  text-align: center;
  color: black;
  display:inline;
}

.baseBox2 h3 {
  font-size: 24px;
  text-align: center;
  color: black;
  display:inline;
}

.baseBox3 h3 {
  font-size: 24px;
  text-align: center;
  color: black;
  display:inline;
}

.dataImg{
  width: 40px;
  height: 40px;
  margin:80px 30px -10px 0px;
  position: center;
}

.dataShareBase{
  width: 100%;
  height: 220px;
  margin-top: 180px;
}

.dataShare{
  width: 70%;
  height: 220px;
  margin-left: 18%;
  background-size: 100% 100%;
}
.changeDataShare{
  width: 100%;
  height: 220px;
  background-size: 100% 100%;
}

.container {
  position: relative;
  display: inline-block;
}

.container img {
  display: block;
  max-width: 96%;
}

.content2 h3 {
  position: absolute;
  text-align: center;
  color:white;
  font-weight: bolder;
  font-size: 24px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
}

.outDivShow{
  position: absolute;
  text-align: center;
  color:white;
  font-weight: bolder;
  font-size: 24px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  margin-left: -2%;
  height: 140px;
  background-color:#358BDE;
  display: none;
}

.outDivShow h4{
  margin-top: 30px;
  color: white;
}
.outButton{
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius:12px;
  padding: 0.5rem;
}

.container:hover .outDivShow{
  display: block;
}