.contentStyle{
  position: absolute;
  padding : 0;
  width:100%;
  height :100%;
  background-repeat: no-repeat;
}

.baseBox{
  position: relative;
  width:32%;
  height :36%;
  background-color : #9AC5EF;
  margin-left:56%;
  margin-top: 25%;
  border-radius: 5px;
}

@media screen and (max-device-width:1366px) {
  .baseBox div{
    width:88%;
    font-size: 24px;
  }
}

@media screen and (max-device-width:1440px) {
  .baseBox div{
    width:84%;
    font-size: 24px;
  }
}

@media screen and (max-device-width:1920px) {
  .baseBox div{
    width:62%;
    font-size: 24px;
  }
}


.baseBoxInput{
  width: 100%;
  height: 2rem;
  margin: 0 1rem 0 ;
  padding-left:0.5rem ;
  border-radius: 5px;
  border:1px solid #cccccc;
}
.baseBox div h3{
  margin: 0 1rem 0 ;
  text-align: left;
  font-size: 24px;
  color: #012C56;
}


.BuTon{
  margin: 1rem 1rem 1rem 1rem;
}

.BuTon button{
  width: 50%;
  height: 3rem;
  border: none;
  text-align: center;
  background-color: #358BDE;
  color: black;
  font-size: 1.8rem;
  line-height: 3.5rem;
  border-radius: 5px;
}
.BuTon2{
  margin: 1rem 1rem 1rem 1rem;
}
.BuTon2 button{
  width: 50%;
  height: 3rem;
  border: none;
  text-align: center;
  background-color: wheat;
  color: black;
  font-size: 1.8rem;
  line-height: 3.5rem;
  border-radius: 5px;
}
.checkbox{
  width: 20px;
  height: 20px;
}

.aa{
  width: 20px;
  height: 20px;
  margin-left: 42%;
}






