@media screen and (max-device-width:1800px) {
  .loginBox{
    position: relative;
    width:28%;
    height :38%;
    background-color : #9AC5EF;
    margin-left:56%;
    margin-top: 20%;
    border-radius: 5px;
    clear: both;
  }

  .registerBox{
    position: relative;
    width:28%;
    height :50%;
    background-color : #9AC5EF;
    margin-left:56%;
    margin-top: 16%;
    border-radius: 5px;
    clear: both;
  }
}


@media screen and (min-device-width: 1800px ) {
  .loginBox{
    position: relative;
    width:22%;
    height :26%;
    background-color : #9AC5EF;
    margin-left:56%;
    margin-top: 22%;
    border-radius: 5px;
    clear: both;
  }

  .registerBox{
    position: relative;
    width:22%;
    height :35%;
    background-color : #9AC5EF;
    margin-left:56%;
    margin-top: 22%;
    border-radius: 5px;
    clear: both;
  }
}
.contentStyle{
  position: absolute;
  padding : 0;
  width:100%;
  height :100%;
  background-repeat: no-repeat;
}

.baseBoxInput{
  width: 82%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  margin:10px 0 10px 10%;
  border:1px solid #cccccc;
}

.loginBox h3{
  text-align: left;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  margin-left: 10%;
}
.registerBox h3{
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10%;
}


.BuTon{
  margin-top: 6px;
  margin-left: 10%;
}

.BuTon button{
  width: 40%;
  height: 30px;
  border: none;
  text-align: center;
  background-color: #358BDE;
  color: white;
  font-size: 14px;
  line-height: 30px;
  border-radius: 5px;
  margin-right: 10%;
}
