
@media screen and (max-device-width:1800px) {
  .contentStyle {
    width: 84%;
    margin-left: 8%;
  }
  .div{
    margin: 2rem 0 0 0;
    width: 100%;
  }
  .imageDivStyle {
    width: 100%;
    height: 300px;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:aliceblue;
    background-image: url('/news/news-back.png');
    background-size: 84% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #036ED6;
  }
  .content{
    color: black;
    width: 78%;
    margin-left: 12%;
    line-height: 30px;
    min-height: 400px;
  }
  .title{
    color:#036ED6;
    font-size: 40px;
    text-align: left;
    margin-left: 8%;
    margin-top: 40px;
  }
}

@media screen and (min-device-width: 1800px ) {
  .contentStyle {
    width: 60%;
    margin-left: 18%;
  }
  .div{
    margin: 2rem 0 0 0;
    width: 100%;
  }
  .imageDivStyle {
    width: 100%;
    height: 300px;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:aliceblue;
    background-image: url('/news/news-back.png');
    background-size: 64% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #036ED6;
  }
  .content{
    color: black;
    width: 64%;
    margin-left: 20%;
    line-height: 30px;
    min-height: 400px;
  }
  .title{
    color:#036ED6;
    font-size: 40px;
    text-align: left;
    margin-left: 18%;
    margin-top: 40px;
  }
}

.list{
  height: 200px;
  width: 100%;
  border-bottom:solid 1px wheat;
}

.left{
  height:180px;
  width: 30%;
  float: left;
}

.right{
  height:200px;
  width: 66%;
  float: left;
}

.row1{
  margin-left: 4%;
  line-height: 60px;
  font-size: 18px;
  height: 60px;
  width: 100%;
  color: #222222;
}

.row2{
  margin-left: 4%;
  height: 100px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  text-indent: 2em;
  color: #666666;
}

.row3{
  height: 40px;
  width: 100%;
  font-size: 14px;
  margin-left: 90%;
  color: #999999;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}


.content h2 h3 h4 h5 {
  text-align: left;
  line-height: 2em;
  text-indent:2em;
}
.content h1{
  text-align: center;
  line-height: 2em;
  color: #012C56;
  font-size: 24px;
}
.content h2{
  text-align: center;
  line-height: 2em;
  color: #222222;
  font-size: 20px;
}
.content h3{
  color: #666666;
  font-size: 18px;
}
.content h4{
  color: #666666;
  font-size: 16px;
}

.content h5{
  color: #999999;
  font-size: 14px;
}

.content h6{
  color: #999999;
  font-size: 12px;
}

.content p img{
  width:100%;
  height:450px;
}

.dev0{
  margin: 80px 7% 0 7%;
  text-align: center;
  background-color: #ffffff;
  position: relative;
}

.hh1 {
  color: #036ED6;
  font-size: 40px;
  margin-bottom: 40px;
}

.newsImg{
  height: 230px;
  width: 100%;
  background-size: cover;
}

.baseNews{
  width: 100%;
  margin-left:1%;
}
.newsTop{
  width: 96%;
}
.newsBottom{
  width: 96%;
  margin-top: 20px;
}

.newsRow1{
  height: 50px;
  width: 100%;
  color: #222222;
  font-size: 16px;
  text-align: left;
}

.newsRow2{
  height: 66px;
  width: 100%;
  text-indent: 2em;
  text-align: left;
  overflow:hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 14px;
  color: #444444;
}
.newsRow3{
  height: 10px;
  line-height: 30px;
  width: 100%;
  margin-left: 78%;
  font-size: 12px;
  color: #999999;
}

.button{
  width: 120px;
  text-align: center;
  border-radius:12px;
  padding: 10px;
  color: #fff;
  background-color: #036ED6;
  height: 40px;
  margin-top: 40px;
  margin-left: 45%;
}
