

@media screen and (max-device-width:1800px) {
    .searchData{
        width:84%;
        margin: 40px 8% 0px 8%;
    }
    .baseDiv {
        color: #000;
        overflow-x: auto;
        width: 100%;
        height: 300px;
    }
}

@media screen and (min-device-width: 1800px ) {
    .searchData{
        width:62%;
        margin: 40px 19% 0px 19%;
    }
    .baseDiv {
        color: #000;
        overflow-x: auto;
        width: 100%;
        height: 300px;
    }
}


.linkDiv{
    width: 300px;
    height: 180px;
    margin: 1% 1% 1% 1%;
}

.linkDiv h3{
    font-size: 16px;
}

.linkDiv h4{
    font-size: 14px;
    color: black;
}

.list{
    min-height: 100px;
}
.row{
    text-align: center
}

.col{
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    color: black;
    border: 1px solid rgba(var(--callout-border-rgb), 0.25);
}